body {
    max-width: 960px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}
h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.position {
    page-break-inside: avoid;
}

.position .title {
    text-align: left;
}
.position .dates {
    text-align: center;
    white-space: nowrap;
}
.position .location {
    text-align: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
}

