body {
    font-size: 1em;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;  
    padding-left: 50px;
}

#content {
    max-width: 960px;
}

td {
    padding-left: 20px;
}

.ilt {
    display: inline-table;
    width: 100%;
}
.ilt > div {
    display: table-cell;
}

/* Style for position descriptions */
div .position {
    display: inline-table;
    width: 100%;
}
.position > p {
    display: table-cell;
}
.position > .title {
    text-align: left;
}
.position > .dates {
    text-align: center;
}
.position > .location {
    text-align: right;
}




