<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">MGT: Mixed Gaming Tournaments</a></h1>
            <hr />
        </header>

        <nav>
            <!-- <h3>First Heading</h3> -->
            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-mail"></i>   <a href="{{site.baseurl}}/rules">Rules</a></li>
                <li><i class="icon-th"></i>     <a href="{{site.baseurl}}/contact">Contact Us</a></li>
            </ul>
        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2012</time> {{ site.author }}</p>
        </footer>

    </body>

</html>
